LaravelServer/*.log
LaravelServer/.DS_Store/
LaravelServer/.env
LaravelServer/.env.backup
LaravelServer/.env.production
LaravelServer/.phpactor.json/
LaravelServer/.phpunit.result.cache/
LaravelServer/.fleet/
LaravelServer/.idea/
LaravelServer/.nova/
LaravelServer/.phpunit.cache/
LaravelServer/.vscode/
LaravelServer/.zed/
LaravelServer/auth.json/
LaravelServer/node_modules
LaravelServer/public/build/
LaravelServer/public/hot/
LaravelServer/public/storage
LaravelServer/database/migrations
LaravelServer/storage/*.key/
LaravelServer/storage/pail/
LaravelServer/vendor/
LaravelServer/Homestead.json/
LaravelServer/Homestead.yaml/
LaravelServer/Thumbs.db/
/.vscode